<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OHDR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OHDR.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
<appSettings>
  <add key="DBConnection" value="datasource=localhost;database=ohs;user id=root;;allow zero datetime=true" />
  <add key="DBConn" value="server=localhost;user=root;port=3306" />
  
</appSettings>
  
    <applicationSettings>
        <OHDR.Properties.Settings>
            <setting name="TextArea" serializeAs="String">
                <value>2,35,98,25</value>
            </setting>
            <setting name="BarcodeArea" serializeAs="String">
                <value>2,65,98,10</value>
            </setting>
            <setting name="BadgeArea" serializeAs="String">
                <value>2,80,98,15</value>
            </setting>
            <setting name="TearTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PanelLogoSize" serializeAs="String">
                <value>336,150</value>
            </setting>
            <setting name="PanelOrganisedSize" serializeAs="String">
                <value>186, 118</value>
            </setting>
            <setting name="ThemeColor" serializeAs="String">
                <value>158, 32, 101</value>
            </setting>
            <setting name="RegistrationType" serializeAs="String">
                <value>Visitor</value>
            </setting>
            <setting name="PrefixCustomerCode" serializeAs="String">
                <value>EVE</value>
            </setting>
            <setting name="EnableSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintBarcode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeaderImage" serializeAs="String">
                <value>header.png</value>
            </setting>
            <setting name="OrganisedByImage" serializeAs="String">
                <value>organisedby.jpg</value>
            </setting>
            <setting name="IconName" serializeAs="String">
                <value>FHO.ico</value>
            </setting>
        </OHDR.Properties.Settings>
    </applicationSettings>
</configuration>